image: node:20

stages:          # List of stages for jobs, and their order of execution
  - test
  - build
  - build-dev
  - deploy
  - deploy-dev

cache:
  paths:
    - FRONTEND/node_modules/


before_script:
  - chmod 400 $SSH_PRIVATE_KEY
  - apt update
# Mise en place du ssh
  - apt -y install openssh-client
  - mkdir ~/.ssh
  - touch ~/.ssh/config
  - echo "HOST *" > ~/.ssh/config
  - echo "StrictHostKeyChecking no" >> ~/.ssh/config
# installation des paquet requis  
  - ls
  - cd FRONTEND 
  - echo "MAIS"
  - ls 
  - npm install 
  - cd ..

test:
  stage: test
  script:
    - cd FRONTEND
    - npm run lint 
    - npm run test
    - cd ..
  artifacts:
    when: always
    reports:
      junit: junit.xml 
    paths:
      - FRONTEND/coverage/  

build:
  stage: build
  only:
    - main
  script:
    - cd FRONTEND
    - npm run build 
    - cd ..
  artifacts:
    paths:
      - FRONTEND/dist/  

build-dev:
  stage: build-dev
  only:
    - develop
  script:
    - cd FRONTEND
    - mv $DEV_CONF_FILE vite.config.js
    - npm run build 
    - cd ..
  artifacts:
    paths:
      - FRONTEND/dist/  
  

deploy:
  stage: deploy
  only:
    - main
  script:
    - ssh -i $SSH_PRIVATE_KEY gitlabci@192.168.75.41 "rm -rf ./api"
    - ssh -i $SSH_PRIVATE_KEY gitlabci@192.168.75.41 "rm -rf ./env"
    - ssh -i $SSH_PRIVATE_KEY gitlabci@192.168.75.41 "rm -rf /usr/share/nginx/html/main/*"
    

    - scp -i $SSH_PRIVATE_KEY -r ./api gitlabci@192.168.75.41:/home/gitlabci/api
    - scp -i $SSH_PRIVATE_KEY -r FRONTEND/dist/* gitlabci@192.168.75.41:/usr/share/nginx/html/main/

    - ssh -i $SSH_PRIVATE_KEY gitlabci@192.168.75.41 "python3 -m venv ./env"
    - ssh -i $SSH_PRIVATE_KEY gitlabci@192.168.75.41 "./env/bin/python -m pip install -r ./api/requirements.txt"
    - scp -i $SSH_PRIVATE_KEY $DB_PY_CONFIG gitlabci@192.168.75.41:/home/gitlabci/api/config.py

    - ssh -i $SSH_PRIVATE_KEY gitlabci@192.168.75.41 "sudo systemctl restart api_co2.service"

deploy-dev:
  stage: deploy-dev
  only:
    - develop
  script:
    - ssh -i $SSH_PRIVATE_KEY gitlabci@192.168.75.41 "rm -rf ./dev/api"
    - ssh -i $SSH_PRIVATE_KEY gitlabci@192.168.75.41 "rm -rf ./dev/env"
    - ssh -i $SSH_PRIVATE_KEY gitlabci@192.168.75.41 "rm -rf /usr/share/nginx/html/dev/*"


    - scp -i $SSH_PRIVATE_KEY -r ./api gitlabci@192.168.75.41:/home/gitlabci/dev/api
    - scp -i $SSH_PRIVATE_KEY -r FRONTEND/dist/* gitlabci@192.168.75.41:/usr/share/nginx/html/dev/

    - ssh -i $SSH_PRIVATE_KEY gitlabci@192.168.75.41 "python3 -m venv ./dev/env"
    - ssh -i $SSH_PRIVATE_KEY gitlabci@192.168.75.41 "./dev/env/bin/python -m pip install -r ./dev/api/requirements.txt"
    - scp -i $SSH_PRIVATE_KEY $DB_PY_CONFIG gitlabci@192.168.75.41:/home/gitlabci/dev/api/config.py

    - ssh -i $SSH_PRIVATE_KEY gitlabci@192.168.75.41 "sudo systemctl restart api_co2_dev.service"
    - ssh -i $SSH_PRIVATE_KEY gitlabci@192.168.75.41 "sed -i '/<head>/a \    <base href="/dev/">' /usr/share/nginx/html/dev/index.html"

  

